* {
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 6px #000;
}

body {
    background-image: url('images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 8px;
    transition: background 0.5s ease;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

h3 {
    margin-top: 13px;
}

.nav-button {
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 10001;
}

.nav-info {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 2px 2px 6px #000;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    box-shadow: inherit;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
    transform: translateX(-100%);
    transition: transform 0.3 ease;
    overflow-y: auto;
}

#overlay-menu.show {
    transform: translateX(0);
}

#overlay-menu ul {
    list-style: none;
    padding: 0;
    margin: 4rem 2rem;
}

#overlay-menu ul li {
    margin: 2.5rem 0 2rem 0;
}

#overlay-menu ul li a {
    color: rgba(166, 0, 188, 1);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 620;
}

.no-scroll {
    overflow: hidden;
}

.container {
    display: grid;
}

p br {
    display: none;
}

.introduction-buttons {
    margin: 2rem 0;
}

.introduction-buttons #explore-button {
    background: linear-gradient(310.6deg, rgba(100, 0, 233, 1) 6.8%, rgba(166, 0, 188, 1) 57.8%);
    border: none;
    border-radius: 3px;
    padding: 7px;
    margin-right: 15px;
    cursor: pointer;
}

.introduction-buttons #create-button {
    background-color: transparent;
    border: none;
    padding: 7px;
    font-weight: 500;
    cursor: pointer;
}

.statistics-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-number {
    font-size: 28px;
    font-weight: 300;
    margin-right: 0.5rem;
}

.statistics-text {
    font-size: 16px;
}


@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.scrolled {
    transition: opacity 0.5s ease;
    background: linear-gradient(310.6deg, rgba(100, 0, 233, 0.94) 6.8%, rgba(166, 0, 188, 0.66) 57.8%);
}
.scrolled::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(310.6deg, rgba(100, 0, 233, 0.94) 6.8%, rgba(166, 0, 188, 0.66) 57.8%);
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
    z-index: -1;
}

h2 {
    font-size: 24px;
    margin: 2rem 0;
}

.nfts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
    margin: 25px 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nfts img {
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image {
    display: block;
    width: 0 auto;
    height: auto;
}

.img-box {
    position: relative;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    opacity: 0;
    text-align: center;
}

.img-box:hover .image {
    opacity: 0.3;
}

.img-box:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 2rem;
    padding: 16px 32px;
}

footer {
    padding: 16px 24px;
    position: absolute;
    right: 0;
    background-color: #0e1219;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    background: #0e1219;
    flex-direction: column;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    text-decoration: none;
}

.footer-columns ul a:hover {
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 16px;
}

.logo {
    width: 40px;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.footer-top {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 0;
    justify-content: space-between;
    border-bottom: 1px solid #595c61;
}

.footer-columns {
    padding-top: 24px;
}

.footer-columns h3:not(.solutions-text) {
    margin-top: 2rem;
    margin-bottom: 1.17rem;
    font-size: 1.125rem;
}

.footer-columns > section {
    min-width: 180px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #595c61;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0;
    flex-wrap: wrap;
}

.footer-bottom-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

small {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 686px) {
    body {
        padding: 1rem 2.188rem;
    }

    h1 {
        font-size: 3.5rem;
        margin: 3rem auto;
        max-width: 75rem;
        padding: 0 2rem;
    }

    h2 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 3rem;
        text-align: center;
    }

    p {
        margin: 2rem 0;
        font-size: 21px;
        margin: 3rem auto;
        max-width: 75rem;
        padding: 0 2rem;
    }

    .header-container {
        margin: 0 auto;
        max-width: 75rem;
        padding: 0 2rem;
    }

    .nav-button {
        display: none;
    }

    .nav-info {
        display: initial;
        font-size: 1.17em;
    }
    .nav-info ul {
        list-style-type: none;
        display: flex;
        gap: 43px;
    }
    .nav-info a {
        text-decoration: none;
    }

    p br {
        display: inherit;
    }

    .introduction {
        font-size: 20px;
    }

    .introduction-buttons {
        margin: 0 auto;
        max-width: 75rem;
        padding: 0 2rem;
    }

    .introduction-buttons #explore-button,
    .introduction-buttons #create-button {
        font-size: 18px;
        padding: 10px 20px;
    }

    .statistics-info {
        margin: 3rem auto;
        max-width: 75rem;
        padding: 0 2rem;
    }

    .statistics-number {
        font-size: 2em;
        font-weight: 600;
    }

    .statistics-text {
        font-size: 24px;
    }

    .nfts {
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
        margin: 3rem auto;
        max-width: 75rem;
    }

    .nfts img {
        width: 95%;
    }

    footer {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }

    .footer-columns {
        gap: 4em;
    }

    .footer-bottom-links {
        margin-left: 0;
    }
}

@media (min-width: 1280px) {
    .statistics-number {
        font-size: 3em;
    }

    .statistics-text {
        font-size: 32px;
    }

    .nfts img {
        width: 100%;
    }

    .footer-wrapper {
        max-width: 75rem;
        margin: 0 auto;
        width: 100%;
    }

    .footer-top {
        max-width: 75rem;
    }

    .footer-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}